{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.

% Let erlfmt write files on format as opposed to not doing anything
{erlfmt, [write]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/Benjamin-Philip/serde_arrow"},
    {source_url, "https://github.com/Benjamin-Philip/serde_arrow"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
